[Unit]
Description=koyu.space EverythingBot
After=network.target

[Service]
User=koyu
WorkingDirectory=/home/koyu/everythingbot/
Environment="HOME=/home/koyu"
Environment="TOKEN="
Environment="BOTTAG=everythingbot"
ExecStart=/usr/local/bin/pypy3 main.py
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=everythingbot.service
